.DS_Store
node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.sass-cache/
.versions/
$RECYCLE.BIN/

Thumbs.db
UserInterfaceState.xcuserstate
.env
.env.local
.env.*.local