:root {
  --primary: 0, 150, 136;
  --primary-light: 82, 199, 184;
  --primary-dark: 0, 103, 91;
  --on-primary: 0, 0, 0;
  --on-primary-light: 0, 0, 0;
  --on-primary-dark: 255, 255, 255;

  --background: 38, 40, 47;
  --on-background: 255, 255, 255;
}
