:root {
  --primary: 0, 188, 212;
  --primary-light: 98, 239, 255;
  --primary-dark: 0, 139, 163;
  --on-primary: 0, 0, 0;
  --on-primary-light: var(--on-primary);
  --on-primary-dark: var(--on-primary);

  --additional1: 205, 220, 57;
  --on-additional1: 0, 0, 0;

  --background: 38, 40, 47;
  --on-background: 255, 255, 255;
}
