:root {
  --primary: 0, 229, 255;
  --primary-light: 110, 255, 255;
  --primary-dark: 0, 178, 204;
  --on-primary: 0, 0, 0;
  --on-primary-light: var(--on-primary);
  --on-primary-dark: var(--on-primary);

  --background: 0, 10, 18;
  --on-background: 255, 255, 255;
}
