@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap';

:root,
:host {
  --typeface: var(--w-typeface, 'Roboto', sans-serif);

  --font-light: var(--w-font-light, 300);
  --font-regular: var(--w-font-regular, 400);
  --font-medium: var(--w-font-medium, 500);
}
