.typography--headline1 {
  font-family: var(--typeface);
  font-weight: var(--font-light);
  font-size: 96px;
  letter-spacing: -1.5px;
}

.typography--headline2 {
  font-family: var(--typeface);
  font-weight: var(--font-light);
  font-size: 60px;
  letter-spacing: -0.5px;
}

.typography--headline3 {
  font-family: var(--typeface);
  font-weight: var(--font-regular);
  font-size: 48px;
}

.typography--headline4 {
  font-family: var(--typeface);
  font-weight: var(--font-regular);
  font-size: 34px;
  letter-spacing: 0.25px;
}

.typography--headline5 {
  font-family: var(--typeface);
  font-weight: var(--font-regular);
  font-size: 24px;
}

.typography--headline6 {
  font-family: var(--typeface);
  font-weight: var(--font-medium);
  font-size: 20px;
  letter-spacing: 0.15px;
}

.typography--subtitle1 {
  font-family: var(--typeface);
  font-weight: var(--font-regular);
  font-size: 16px;
  letter-spacing: 0.15px;
}

.typography--subtitle2 {
  font-family: var(--typeface);
  font-weight: var(--font-medium);
  font-size: 14px;
  letter-spacing: 0.1px;
}

.typography--body1 {
  font-family: var(--typeface);
  font-weight: var(--font-regular);
  font-size: 16px;
  letter-spacing: 0.5px;
}

.typography--body2 {
  font-family: var(--typeface);
  font-weight: var(--font-regular);
  font-size: 14px;
  letter-spacing: 0.25px;
}

.typography--button {
  font-family: var(--typeface);
  font-weight: var(--font-medium);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

.typography--caption {
  font-family: var(--typeface);
  font-weight: var(--font-regular);
  font-size: 12px;
  letter-spacing: 0.4px;
}

.typography--overline {
  font-family: var(--typeface);
  font-weight: var(--font-regular);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
