@import './typography/_typography.css';
@import './elevation/_elevation-shadow.css';
@import './elevation/_elevation-overlay.css';

:root,
:host {
  --background: var(--w-background, 18, 18, 18);
  --surface: var(--w-surface, 18, 18, 18);

  --on-background: var(--w-on-background, 255, 255, 255);
  --on-surface: var(--w-on-surface, 255, 255, 255);

  --high-emphasis: var(--w-high-emphasis, 0.87);
  --medium-emphasis: var(--w-medium-emphasis, 0.6);
  --disabled: var(--w-disabled, 0.38);

  /* Set to none to disable (e.g. to remove the overlay on light theme) */
  --elevation-shadow: var(--w-elevation-shadow);
  --elevation-overlay: var(--w-elevation-overlay);
}
